<template>
    <lightning-card title="HelloWorld" icon-name="custom:custom14">
        <p>{activeSectionsMessage}</p>
        <lightning-accordion allow-multiple-sections-open onsectiontoggle={handleSectionToggle} active-section-name={activeSections}>
            <lightning-accordion-section name="A" label="Accordion Title A">
                {recordId} + {recordString}
            </lightning-accordion-section>
            <lightning-accordion-section name="B" label="Accordion Title B">
                <div if:true={showSection}>This uses if "if:true" attribute so that the if statement can be covered by
                    test code</div>
            </lightning-accordion-section>
            <lightning-accordion-section name="C" label="Accordion Title C">
                <div if:true={showSection}>This uses if "if:true" attribute so that the if statement can be covered by
                    test code</div>
            </lightning-accordion-section>
            <lightning-accordion-section name="D" label="Accordion Title D">
                <div class="hiddenSection slds-hidden">
                    Dynamically hidden content with CSS
                </div>
            </lightning-accordion-section>
            <lightning-accordion-section name="E" label="Accordion Title E">
                    <lightning-button-menu slot="actions" alternative-text="Show menu">
                            <lightning-menu-item value="MenuItemOne" label="Menu Item One"></lightning-menu-item>
                            <lightning-menu-item value="MenuItemTwo" label="Menu Item Two"></lightning-menu-item>
                            <lightning-menu-item value="MenuItemThree" label="Menu Item Three"></lightning-menu-item>
                            <lightning-menu-item value="MenuItemFour" label="Menu Item Four"></lightning-menu-item>
                        </lightning-button-menu>
                <div class="slds-grid">
                    <div class="slds-col">
                        <template for:each={items} for:item='item'>
                            <p key={item.Id} id={item.Id} >{item.Name__c}</p>
                            <lightning-button key={item.Id} id={item.Id} label="click me" value={item.Id} onclick={updateChild}></lightning-button>
                        </template>
                    </div>
                    <div class="slds-col">
                        <c-test-child-component record={childRecord}></c-test-child-component>
                    </div>
                </div>
            </lightning-accordion-section>
            <lightning-accordion-section name="D" label="Accordian Title F">
                <lightning-datatable key-field="id" data={data} columns={columns}>
                </lightning-datatable>
            </lightning-accordion-section>
        </lightning-accordion>
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <lightning-button label="Click me to show a secret" onclick={clicked}></lightning-button>
            </div>
            <div class="slds-col">
                <lightning-button label="Click me to see another way to reveal the secret" onclick={clicked2}></lightning-button>
            </div>
        </div>
    </lightning-card>
</template>